{% extends 'common/base.html' %}
{% block content %}
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <div>
            <label for="id-username">Username</label>
            <input id="id-username" type="text" name="username" placeholder="특수문자 제외, 4~16자" required>
        </div>
        <div>
            <label for="id-password1">Password</label>
            <input id="id-password1" type="password" name="password1" placeholder="비밀번호를 입력하세요" required>
        </div>
       <div>
            <label for="id-password2">Password Check</label>
            <input id="id-password2" type="password" name="password2" placeholder="비밀번호를 다시 입력하세요" required>
        </div>
        <button type="submit" class="btn">Sign Up</button>
        {% if password1 != password2 %}

        {% else %}

        {% endif %}
    </form>
</div>
{% endblock %}